.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: aqua;

}

.name {
    
}

.direction:hover {
    background-color: beige;
    color: blue;
}
.Stockmann {
    color: blueviolet;
}

.MrsStockmann {
    color: palevioletred;
}

.Stockmann:hover {
    box-shadow: 3px 3px 5px peru;
    border-style: dotted;
    text-shadow: 3px 3px 5px blue;
    filter: blur(0.5px);
}

.MrsStockmann:hover {
    text-shadow: 3px 3px 5px blueviolet;
    filter: blur(0.5px);
    box-shadow: 3px 3px 5px paleturquoise;
    border-style: inset;
}

.Table {
    width: 30%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.Table th ,
.Table td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

.Table th {
    background-color: aquamarine;
    color: coral;
}

.Table tr:nth-child(odd){
    background-color: lavenderblush;
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:#000;
    background-color:antiquewhite
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    }
    