.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: aqua;

}

.direction:hover {
    background-color: beige;
    color: blue;
}
.Stockmann {
    color: blueviolet;
}

.Stockmann:hover {
    box-shadow: 3px 3px 5px peru;
    border-style: dotted;
}
.MrsStockmann {
    color: palevioletred;
}

.MrsStockmann:hover {
    box-shadow: 3px 3px 5px paleturquoise;
    border-style: inset;
}

.Table {
    width: 30%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.Table th ,
.Table td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

.Table th {
    background-color: aquamarine;
    color: coral;
}

.Table tr:nth-child(odd){
    background-color: lavenderblush;
}
